*_concat.scm
*~
tests/*.output.txt
tests/*.output.txt.d
tests/*.decl_output.txt
tests/*.decl_output.txt.d
bytecode_interpreter/*.M1
bytecode_interpreter/*.hex2
bytecode_interpreter/*.o
bytecode_interpreter/exprprint.d
bytecode_interpreter/tests/*.lox.output.txt
bytecode_interpreter/tests/*.lox.output.txt.d
bytecode_interpreter/tests/*.output.gcc.txt
bytecode_interpreter/tests/*.output.gcc.txt.d
bytecode_interpreter/*.d
